/* public/fonts/chirp.css */
@font-face {
    font-family: 'Chirp';
    src: url('/fonts/chirp/Chirp-Regular.woff2') format('woff2'),
         url('/fonts/chirp/Chirp-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Chirp';
    src: url('/fonts/chirp/Chirp-Medium.woff2') format('woff2'),
         url('/fonts/chirp/Chirp-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Chirp';
    src: url('/fonts/chirp/Chirp-Bold.woff2') format('woff2'),
         url('/fonts/chirp/Chirp-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  